<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<p>This Software Carpentry workshop forms part of a 5-day 
<a href="http://carpentryconnectza.org">CarpentryConnect</a> event that will also include two other 3-day Carpentry workshops: <a href="https://dh-southernafrica.github.io/2018-09-03-CarpentryConnect-JHB-LC/">Library Carpentry</a> and <a href="https://tenet-rccpii.github.io/2018-09-03-CarpentryConnect-JHB-Social-Sciences/">Data Carpentry for Social Scientists</a>. Day 4 & 5 is reserved for <a href="https://tenet-rccpii.github.io/2018-09-06-ttt-CarpentryConnect-JHB/">Carpentries instructor training</a>. 
</p>
<p>
CarpentryConnect Johannesburg 2018 is co-funded by the <a href="https://tenet-rccpii.github.io/rccpii-2018/">Rural Campuses Connection Project II</a> (RCCPII) and the <a href="https://www.sadilar.org/">South African Centre for Digital Language Resources</a> (SADiLAR).
</p>
